@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Inline&family=Cinzel+Decorative:wght@400;700;900&family=Faster+One&family=Federant&family=Limelight&family=Miniver&family=Nova+Script&family=Playball&family=Racing+Sans+One&family=Revalia&family=Sarina&family=Warnes&display=swap');

#sistema-titulo, #login-titulo, #footer-titulo {
    /*font-family: 'Audiowide', cursive;*/

    /*font-family: 'Bungee Inline', cursive;*/
    /*font-family: 'Cinzel Decorative', cursive;*/
    /*font-family: 'Faster One', cursive;*/
    /*font-family: 'Federant', cursive;*/
    /*font-family: 'Limelight', cursive;*/
    /*font-family: 'Miniver', cursive;*/
    /*font-family: 'Nova Script', cursive;*/
    /*font-family: 'Playball', cursive;*/
    font-family: 'Racing Sans One', cursive;
    /*font-family: 'Revalia', cursive;*/
    /*font-family: 'Sarina', cursive;*/
    /*font-family: 'Warnes', cursive;*/
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#cadastro {
    width: 70%;
    margin: 0 auto;
    white-space: nowrap;
}

#grid_cadastro > thead > tr th:nth-child(2) {
    width: 10%;
}

#grid_cadastro > thead > tr th:nth-child(3) {
    width: 200px;
}

/*#login-password {
    text-align: center;
}*/

#login-user, #login-password, #login-titulo {
    text-align: center;
}
