@font-face {
    font-family: 'RacingSansOne-Regular';
    src: url('../fonts/RacingSansOne-Regular.ttf') format('truetype');
}

#sistema-titulo, #login-titulo, #footer-titulo {
    font-family: 'Racing Sans One', cursive;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#cadastro {
    width: 70%;
    margin: 0 auto;
    white-space: nowrap;
}

#grid_cadastro > thead > tr th:nth-child(2) {
    width: 10%;
}


#grid_cadastro > thead > tr th:nth-child(3) {
    width: 180px;
}

#grid_cadastro > thead > tr th:nth-child(4) {
    width: 180px;
}



/*#login-password {
    text-align: center;
}*/

#login-user, #login-password, #login-titulo {
    text-align: center;
}

#grid_semRegistro {
    height: 100px;
    text-align: center;
    border: 1px solid #dddddd;
    line-height: 100px;
}
